@model IEnumerable<NetFramework.Models.Producto>

@{
    ViewBag.Title = "SearchByName";
}

<h2>SearchByName</h2>
<div>
    @using (Html.BeginForm("SearchByName"))
            {
                <em>Nombre del producto: </em>
                @Html.TextBox("nombre", "")
                <button>Buscar</button>
            }
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precioUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precioUnitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
<div>
    @for (int i = 0; i < ViewBag.numPaginas; i++)
    {
        @Html.ActionLink((i + 1).ToString(), "SearchByName", new { pagina = i, nombre = ViewBag.nombre }, new { @class = "btn btn-default" });
    }
</div>